.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 107px;
  background: url('../../pictures/shadow-header.png') repeat;
  float: left;
  margin: 0 auto;
  padding-bottom: 13px;
  zoom: 110%;
}
.headerInner {
  margin: 0 auto;
  display: block;
  width: 75%;
  height: 75%;
}
.navigator {
  position: relative;
  margin: 1.9em 0 0 0;
  zoom: 95%;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
.navigator li {
  display: inline-block;
  text-align: center;
  border: 0 solid;
  border-radius: 12px;
  zoom: 85%;
  height: 80px;
  float: left;
  width: 180px;
}
.navigator li:hover {
  background: #ffffff;
  border: 0 solid;
  border-radius: 12px;
  box-shadow: inset 0 0 13px #ffffff;
}
.navigator li a {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  zoom: 85%;
  float: left;
  height: 100%;
  width: 100%;
  line-height: 1.5;
}
.navigator li a:hover {
  color: #000;
}
.logo {
  display: block;
  position: relative;
  float: right;
  padding: 1.06em;
  width: 30%;
  height: 60px;
}
.ui-items {
  position: relative;
  display: -webkit-inline-box;
  width: 100%;
  margin: 0 auto;
  zoom: 85%;
}
.ui-items li {
  display: inline-block;
  color: #ffffff;
  padding-right: 2px;
}
.ui-items li a {
  color: #ffffff;
  font-family: 'Open Sans', Arial, Tahoma, helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.ui-items li a:hover {
  text-decoration: underline;
}
/**
.headerInner ul li:hover {
  width:120px;
  height:90px;
  background: #ffffff;
  color:#000;
  font-family: 'Open Sans', Arial, Tahoma, helvetica, sans-serif;

}

.headerInner ul li:hover {
  display:block;
  width:100px;
  height:100px;
  background:#fff;
  color:#000;
}
*/
