.innerBox {
  display: block;
  width: 50%;
  height: 50px;
  text-align: center;
  background: #39576a;
  margin: 10px auto;
  padding: 5px;
  border: 0 solid;
  border-radius: 6px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}
#filter {
  display: inline-block;
  text-align: center;
}
#filter > fieldset > select,
#filter > fieldset > input {
  opacity: 1;
}
#filter .searchBox {
  position: relative;
  display: inline-block;
  height: 37px;
  text-align: center;
  opacity: 1;
}
#filter .button {
  display: inline-block;
  height: 37px;
  width: 120px;
  text-align: center;
  color: #000;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#filter .field {
  display: inline-block;
  height: 37px;
  width: 190px;
  font-size: 1em;
  font-family: inherit;
  background: url(../../img/field.png) repeat-x 100%;
  border: 0;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
