.image .landscape img,
.image .portrait img {
  display: block;
  width: 100%;
}
.image .body {
  padding-bottom: 0;
}
.image .top {
  padding-bottom: 0;
}
.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
