html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
a {
  color: inherit;
}
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../../styles/fonts/opensans-regular.eot");
  src: url("../../styles/fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/opensans-regular.woff") format("woff"), url("../../styles/fonts/opensans-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("../../styles/fonts/opensans-bold.eot");
  src: url("../../styles/fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/opensans-bold.woff") format("woff"), url("../../styles/fonts/opensans-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../../styles/fonts/opensans-light.eot");
  src: url("../../styles/fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/opensans-light.woff") format("woff"), url("../../styles/fonts/opensans-light.ttf") format("truetype");
}
.innerBox {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
#wrap {
  overflow: hidden;
}
#wrapInner {
  top: 0;
  left: 0;
}
html {
  background: url("../../pictures/background.png") repeat;
  height: 100%;
  /*.bg(#fff; 'bg.jpg'; 50% 50%);
  background-size: cover;
  background-attachment: fixed;*/
}
body {
  background: url("../../pictures/background.png") repeat;
  min-height: 100%;
  font-family: 'Open Sans', Arial, Tahoma, helvetica, sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
.page {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 120px;
}
.page .bg,
.page .bottom {
  opacity: 0;
}
.page.active .bg,
.page.active .bottom {
  opacity: 1;
}
.page {
  display: none;
}
.page.active {
  display: block;
}
.bg {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}
.body {
  background: url("../../pictures/background.png") repeat;
  min-height: 100%;
  top: 0;
  left: 0;
  position: relative;
  z-index: 3;
  padding-bottom: 30px;
}
#map-canvas {
  width: 80%;
  height: 740px;
  margin: 8px auto;
  border: 0 solid;
  border-radius: 6px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  zoom: 95%;
}
footer,
#sheduler {
  position: relative;
  bottom: 0;
  width: 45%;
  max-height: 520px;
  margin: 0 auto;
  text-align: center;
}
.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 107px;
  background: url('../../pictures/shadow-header.png') repeat;
  float: left;
  margin: 0 auto;
  padding-bottom: 13px;
  zoom: 110%;
}
.headerInner {
  margin: 0 auto;
  display: block;
  width: 75%;
  height: 75%;
}
.navigator {
  position: relative;
  margin: 1.9em 0 0 0;
  zoom: 95%;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
.navigator li {
  display: inline-block;
  text-align: center;
  border: 0 solid;
  border-radius: 12px;
  zoom: 85%;
  height: 80px;
  float: left;
  width: 180px;
}
.navigator li:hover {
  background: #ffffff;
  border: 0 solid;
  border-radius: 12px;
  box-shadow: inset 0 0 13px #ffffff;
}
.navigator li a {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  zoom: 85%;
  float: left;
  height: 100%;
  width: 100%;
  line-height: 1.5;
}
.navigator li a:hover {
  color: #000;
}
.logo {
  display: block;
  position: relative;
  float: right;
  padding: 1.06em;
  width: 30%;
  height: 60px;
}
.ui-items {
  position: relative;
  display: -webkit-inline-box;
  width: 100%;
  margin: 0 auto;
  zoom: 85%;
}
.ui-items li {
  display: inline-block;
  color: #ffffff;
  padding-right: 2px;
}
.ui-items li a {
  color: #ffffff;
  font-family: 'Open Sans', Arial, Tahoma, helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.ui-items li a:hover {
  text-decoration: underline;
}
/**
.headerInner ul li:hover {
  width:120px;
  height:90px;
  background: #ffffff;
  color:#000;
  font-family: 'Open Sans', Arial, Tahoma, helvetica, sans-serif;

}

.headerInner ul li:hover {
  display:block;
  width:100px;
  height:100px;
  background:#fff;
  color:#000;
}
*/
.innerBox {
  display: block;
  width: 50%;
  height: 50px;
  text-align: center;
  background: #39576a;
  margin: 10px auto;
  padding: 5px;
  border: 0 solid;
  border-radius: 6px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}
#filter {
  display: inline-block;
  text-align: center;
}
#filter > fieldset > select,
#filter > fieldset > input {
  opacity: 1;
}
#filter .searchBox {
  position: relative;
  display: inline-block;
  height: 37px;
  text-align: center;
  opacity: 1;
}
#filter .button {
  display: inline-block;
  height: 37px;
  width: 120px;
  text-align: center;
  color: #000;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#filter .field {
  display: inline-block;
  height: 37px;
  width: 190px;
  font-size: 1em;
  font-family: inherit;
  background: url(../../img/field.png) repeat-x 100%;
  border: 0;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.image .landscape img,
.image .portrait img {
  display: block;
  width: 100%;
}
.image .body {
  padding-bottom: 0;
}
.image .top {
  padding-bottom: 0;
}
.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
