
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../../styles/fonts/opensans-regular.eot");
  src: url("../../styles/fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/opensans-regular.woff") format("woff"), url("../../styles/fonts/opensans-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("../../styles/fonts/opensans-bold.eot");
  src: url("../../styles/fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/opensans-bold.woff") format("woff"), url("../../styles/fonts/opensans-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../../styles/fonts/opensans-light.eot");
  src: url("../../styles/fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/opensans-light.woff") format("woff"), url("../../styles/fonts/opensans-light.ttf") format("truetype");
}