
html {
  background:  url("../../pictures/background.png") repeat;
  height: 100%;
  /*.bg(#fff; 'bg.jpg'; 50% 50%);
  background-size: cover;
  background-attachment: fixed;*/
}
body {
  background: url("../../pictures/background.png") repeat;
  min-height: 100%;
  font-family: 'Open Sans', Arial, Tahoma, helvetica, sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
.page {
  display:block;
  width:100%;
  height:100%;
  padding-top:120px;
}
.page .bg,
.page .bottom {
  opacity: 0;
}
.page.active .bg,
.page.active .bottom {
  opacity: 1;
}
.page{
  display: none;

  &.active{
    display: block;
  }
}
.bg {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.body {
  background: url("../../pictures/background.png") repeat;
  min-height: 100%;
  top: 0;
  left: 0;
  position: relative;
  z-index: 3;
  padding-bottom: 30px;
}

#map-canvas {
  width: 80%;
  height:740px;
  margin: 8px auto;
  border: 0 solid;
  border-radius: 6px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  zoom: 95%;
}

footer,
#sheduler {
  position:relative;
  bottom:0;
  width:45%;
  max-height:520px;
  margin:0 auto;
  text-align:center;

}